<h1>Add new Course</h1>
{{#if error}}
  <p class="alert">{{error}}</p>
{{/if}}
<form action="/add" method="POST" novalidate>
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{data.title}}">
    <label for="title">Course Name</label>
    <span class="helper-text" data-error="Wrong Name"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1" value="{{data.price}}">
    <label for="price">Course Price</label>
    <span class="helper-text" data-error="Wrong Price"></span>
  </div>

  <div class="input-field">
    <input id="img" name="image" type="text" class="validate" required value="{{data.image}}">
    <label for="img">Course Image</label>
    <span class="helper-text" data-error="Wrong URL"></span>
  </div>
  <input type="hidden" name="_csrf" value="{{csrf}}">
  <button class="btn btn-primary">Submit</button>
</form>