<h1>Edit {{course.title}}</h1>

<form action="/courses/edit" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
    <label for="title">Course Name</label>
    <span class="helper-text" data-error="Wrong Name"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1" value="{{course.price}}">
    <label for="price">Course Price</label>
    <span class="helper-text" data-error="Wrong Price"></span>
  </div>

  <div class="input-field">
    <input id="img" name="imageUrl" type="text" class="validate" required value="{{course.imageUrl}}">
    <label for="img">Course Image</label>
    <span class="helper-text" data-error="Wrong URL"></span>
  </div>
  <input type="hidden" name="id" value="{{course.id}}">
  <button class="btn btn-primary">Submit</button>
</form>