<h1>Courses</h1>

{{#if courses.length}}
{{#each courses}}
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="card">
        <div class="card-image">
          <img src="{{image}}" alt="{{title}}">
          <span class="card-title">{{title}}</span>
        </div>
        <div class="card-content">
          <p class="price">{{price}}</p>
        </div>
        <div class="card-action actions">
          <a href="/courses/{{id}}" target="_blank">Show</a>
          {{#if @root.isAuth}}
            {{#ifeq userID._id @root.userID}}
              <a href="/courses/{{id}}/edit?allow=true">Edit</a>
            {{/ifeq}}
            <form action="/cart/add" method="post">
              <input type="hidden" name="id" value="{{id}}">
              <input type="hidden" name="_csrf" value="{{@root.csrf}}">
              <button class="btn btn-primary">
                Buy
              </button>
            </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/each}}
{{else}}
<h1 class="header offset-s3">Nothing to see here</h1>
{{/if}}